<div class="bg-mode shadow p-4 rounded overflow-hidden">
    <div class="row g-4 align-items-center">
        <!-- Content -->
        <div class="col-md-9">
            <h6>Looks like you have never booked with Cozy Heaven</h6>
            <h4 class="mb-2">When you book your hotel will be shown here.</h4>
            <a routerLink="/hotel" class="btn btn-primary-soft mb-0">Start booking now</a>
        </div>
        <!-- Image -->
        <div class="col-md-3 text-end">
            <img src="assets/images/element/17.svg" class="mb-n5" alt="">
        </div>
    </div>
</div>    