<section class="vh-xxl-100 w-100" style="margin-bottom: 13rem; margin-top: -4rem;">
	<div class="container h-100 d-flex px-0 px-sm-4 w-100">
		<div class="row justify-content-center align-items-center w-100 m-auto">
			<div class="col-12">
        <!-- <div class="d-flex flex-row gap-1 align-items-center p-2 mt-2" style="margin-left: 1.5rem;">
          <span style="font-size: 1.5rem; font-weight: 500;" >Register as an admin?</span>
          <div class="d-flex flex-row gap-1 align-items-center" style="font-size: 1.2rem;">
            <a class="" [routerLink]="'/signup-admin'" style="text-decoration: none;"> Click Here  </a>
            <i class="bi bi-arrow-right"></i>            
          </div>
        </div> -->
				<div class="bg-mode shadow rounded-3 overflow-hidden">
          
					<div class="row g-0 d-flex flex-lg-row flex-column justify-content-between">
            <div class="col-lg-6 d-md-flex align-items-center order-2 order-lg-1">
              
							<div class="p-3 p-lg-5">
								<img src="../../../../assets/AuthImages/authimages1.svg" class="img-fluid"  alt="">
							</div>
							<!-- Divider -->
							<div class="vr opacity-1 d-none d-lg-block" style="background-color: rgb(209, 202, 202);"></div>
						</div>

            <div class="col-lg-6 order-1">
							<div class="p-4 p-sm-6">
								<!-- Logo -->
								<a href="index.html">
									<img class="h-50px mb-4" src="../../../../assets/AuthImages/authimages2.svg" height="70" width="60" alt="logo">
								</a>
								<!-- Title -->
								<h1 class="mb-2 h3 fw-bolder" style="font-size: 3rem;">Create new account</h1>
								<p class="mb-0" style="font-size: 1.2rem;">Already a member?<a class="text-primary" style="text-decoration: none;" routerLink="/login" > Log in</a></p>
		
								<!-- Form START -->
								<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="mt-4 text-start d-flex flex-column gap-2">
					
                  <div class="d-flex flex-row gap-2 w-100 justify-content-between align-items-center">
                    <div class="w-50" >
                      <label class="form-label text-secondary" for="firstName">First Name<sup class="mand">*</sup></label>
                      <input class="form-control" placeholder="Enter first name" type="text" formControlName="firstName" id="firstName">
                      <small *ngIf="registerForm.get('firstName').invalid && (registerForm.get('firstName').dirty || registerForm.get('firstName').touched)">
                        <small *ngIf="registerForm.get('firstName').errors['required']">First Name is required.</small>
                      </small>
                    </div>
                  
                    <div class="w-50">
                      <label class="form-label text-secondary" for="lastName">Last Name<sup class="mand">*</sup></label>
                      <input class="form-control" placeholder="Enter last name" type="text" formControlName="lastName" id="lastName">
                      <small *ngIf="registerForm.get('lastName').invalid && (registerForm.get('lastName').dirty || registerForm.get('lastName').touched)">
                        <small *ngIf="registerForm.get('lastName').errors['required']">Last Name is required.</small>
                      </small>
                    </div>
                  </div>
                  
                
                  <div>
                    <label class="form-label text-secondary" for="email">Email<sup class="mand">*</sup></label>
                    <input class="form-control" placeholder="Enter name" type="email" formControlName="email" id="email">
                    <div *ngIf="registerForm.get('email').invalid && (registerForm.get('email').dirty || registerForm.get('email').touched)">
                      <small *ngIf="registerForm.get('email').errors['required']">Email is required.</small>
                      <small *ngIf="registerForm.get('email').errors['email']">Invalid email format.</small>
                    </div>
                  </div>
                
                  <!-- <div class=" d-flex flex-row gap-2 w-100 justify-content-between align-items-center">
                    <div class="position-relative w-50">
                      <label class="form-label text-secondary" for="password">Password<sup class="mand">*</sup></label>
                      <input class="form-control fakepassword" placeholder="Enter password" [type]="showPassword ? 'text' : 'password'" formControlName="password" id="password">
                      <span (click)="toggleShowPassword()" class="position-absolute top-50 end-0 translate-middle-y p-0 mt-3">
                        <i class="fakepasswordicon bi bi-eye-fill cursor-pointer p-2" *ngIf="!showPassword"></i>
                        <i class="fakepasswordicon bi bi-eye-slash cursor-pointer p-2" *ngIf="showPassword"></i>
                      </span>
                
                    </div>
                                
                    <div class="position-relative w-50">
                      <label class="form-label text-secondary" for="confirmPassword">Confirm Password<sup class="mand">*</sup></label>
                      <input class="form-control fakepassword" placeholder="Confirm password" [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword" id="confirmPassword">
                      <span (click)="toggleShowConfirmPassword()" class="position-absolute top-50 end-0 translate-middle-y p-0 mt-3">
                        <i class="fakepasswordicon bi bi-eye-fill p-2" style="cursor: pointer;" *ngIf="!showConfirmPassword"></i>
                        <i class="fakepasswordicon bi bi-eye-slash p-2" style="cursor: pointer;" *ngIf="showConfirmPassword"></i>                      
                      </span>          

                    </div>
                  </div> -->

                  <div>
                    <div class=" d-flex flex-row gap-2 w-100 justify-content-between align-items-center">
                      <div class="position-relative w-50">
                        <label class="form-label text-secondary position-relative" for="password">Password<sup class="mand">*</sup>
                          <input (input)="calcStrength()" class="form-control fakepassword" placeholder="Enter password" [type]="showPassword ? 'text' : 'password'" formControlName="password" id="password">
                          <span (click)="toggleShowPassword()" class="position-absolute top-50 end-0 translate-middle-y p-0 mt-3">
                            <i class="fakepasswordicon bi bi-eye-fill cursor-pointer p-2" style="cursor: pointer;" *ngIf="!showPassword"></i>
                            <i class="fakepasswordicon bi bi-eye-slash cursor-pointer p-2" style="cursor: pointer;" *ngIf="showPassword"></i>
                          </span>
                        </label>
                        
                        <small style="margin-top: 10px;" *ngIf="registerForm.get('password').invalid && (registerForm.get('password').dirty || registerForm.get('password').touched)">
                          <small *ngIf="registerForm.get('password').errors['required']">Password is required.
                          </small>                          
                        </small>
                      </div>
                                  
                      <div class="position-relative w-50">
                        <label class="form-label text-secondary position-relative" for="confirmPassword">Confirm Password<sup class="mand">*</sup>
                          <input class="form-control fakepassword " placeholder="Confirm password" [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword" id="confirmPassword">
                          <span (click)="toggleShowConfirmPassword()" class="position-absolute top-50 end-0 translate-middle-y p-0 mt-3">
                            <i class="fakepasswordicon bi bi-eye-fill p-2" style="cursor: pointer;" *ngIf="!showConfirmPassword"></i>
                            <i class="fakepasswordicon bi bi-eye-slash cursor-pointer p-2" style="cursor: pointer;" *ngIf="showConfirmPassword"></i>                      
                          </span>        
                        </label>  
                        <small *ngIf="registerForm.get('password').invalid && (registerForm.get('password').dirty || registerForm.get('password').touched)">
                          <small *ngIf="registerForm.get('password').errors['required']">Password is required.
                          </small>                                             
                        </small>
                      </div>             
                    </div>

                    <small *ngIf="registerForm.hasError('passwordMismatch') && (registerForm.get('confirmPassword').dirty || registerForm.get('confirmPassword').touched)">
                      Passwords do not match.
                    </small> 

                    <div id="password-strength" class="indicator rounded-2" style="color: rgba(0, 0, 0, 0.888); width: fit-content; margin: 5px; padding-left: 5px; font-weight: 400;
                    padding-right: 5px; " [ngStyle]="{ 'background-color': indicatorColor, 'box-shadow': indicatorShadow }">
                    </div>
                  </div>
                 
                
                  <div class="d-flex flex-row gap-2 w-100 justify-content-between align-items-center ">
                    <div class="w-50">
                      <label class="form-label text-secondary" for="gender">Gender<sup class="mand">*</sup></label>
                      <select class="form-select " formControlName="gender" id="gender">
                        <option class="text-secondary" disabled [defaultSelected]="true">Select Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                      </select>
                      <small *ngIf="registerForm.get('gender').invalid && (registerForm.get('gender').dirty || registerForm.get('gender').touched)">
                        <small *ngIf="registerForm.get('gender').errors['required']">Gender is required.</small>
                      </small>
                    </div>
  
                    <div class="w-50">
                      <label class="form-label text-secondary" for="accountType">Account Type<sup class="mand">*</sup></label>
                      <select  class="form-select" formControlName="accountType" id="accountType">
                        <option  class="text-secondary" disabled [defaultSelected]="true">Select Account Type</option>
                        <option value="User">User</option>
                        <option value="Owner">Hotel Owner</option>
                      </select>
                      <small *ngIf="registerForm.get('gender').invalid && (registerForm.get('gender').dirty || registerForm.get('gender').touched)">
                        <small *ngIf="registerForm.get('gender').errors['required']">Account Type is required.</small>
                      </small>
                    </div>
                  </div>
                  
                
                  <div>
                    <label class="form-label text-secondary" for="contactNumber">Contact Number<sup class="mand">*</sup></label>
                    <input class="form-control" placeholder="Enter contact number" type="text" pattern="[0-9]*" inputmode="numeric" formControlName="contactNumber" id="contactNumber" />
                    <small *ngIf="registerForm.get('contactNumber').invalid && (registerForm.get('contactNumber').dirty || registerForm.get('contactNumber').touched)">
                      <small *ngIf="registerForm.get('contactNumber').errors['required']">Contact Number is required.</small>
                      <small *ngIf="registerForm.get('contactNumber').errors['minlength']">Minmum 10 digits required.</small>
                      <small *ngIf="registerForm.get('contactNumber').errors['maxlength']">Max 10 digits required.</small>
                      <small style="margin-left: 3px;" *ngIf="registerForm.get('contactNumber').errors?.['pattern']">Only numeric characters allowed.</small>
                    </small>
                  </div>
                
                  <div>
                    <label class="form-label text-secondary" for="address">Address<sup class="mand">*</sup></label>
                    <textarea class="form-control" placeholder="Enter your address" formControlName="address" id="address"></textarea>
                    <small *ngIf="registerForm.get('address').invalid && (registerForm.get('address').dirty || registerForm.get('address').touched)">
                      <small *ngIf="registerForm.get('address').errors['required']">Address is required.</small>
                    </small>
                  </div>
                
                  <button type="submit" class="btn btn-primary w-100 mb-0" [disabled]="!registerForm.valid">Register</button>                
                </form>
								<!-- Form END -->
							</div>		
						</div>
          </div>
				</div>
			</div>
		</div>
	</div>
</section>
  