<!-- =======================
Footer START -->
<footer style="background-color: rgba(0, 0, 0, 0.908);" class=" pt-5 ">
	<div class="container">
		<!-- Row START -->
		<div class="row g-4">

			<!-- Widget 1 START -->
			<div class="col-lg-3">
				<!-- logo -->
				<a routerLink="/home">
					<img class="h-40px" src="../../../assets/FooterImages/footer5.svg" style="margin-top: -2.7rem;" width="130" height="150" alt="logo">
				</a>
				<p class="my-3 text-white-50">Departure defective arranging rapturous did believe him all had supported.</p>
				<p class="mb-2"><a href="#" class="text-white-50 text-primary-hover"><i class="bi bi-telephone me-2"></i>+1234 568 963</a> </p>
				<p class="mb-0"><a href="#" class="text-white-50 text-primary-hover"><i class="bi bi-envelope me-2"></i>examplegmail.com</a></p>
			</div>
			<!-- Widget 1 END -->

			<!-- Widget 2 START -->
			<div class="col-lg-8 ms-auto">
				<div class="row g-4">
					<!-- Link block -->
					<div class="col-6 col-md-3">
						<h5 class="text-start text-white mb-2 mb-md-4">Page</h5>
						<ul class="nav flex-column text-primary-hover">
							<li class="nav-item"><a class="nav-link text-white-50" href="#">About us</a></li>
							<li class="nav-item"><a class="nav-link text-white-50" href="#">Contact us</a></li>
							<li class="nav-item"><a class="nav-link text-white-50" href="#">News and Blog</a></li>
							<li class="nav-item"><a class="nav-link text-white-50" href="#">Meet a Team</a></li>
						</ul>
					</div>

					<!-- Link block -->
					<div class="col-6 col-md-3">
						<h5 class="text-white mb-2 mb-md-4">Link</h5>
						<ul class="nav flex-column text-primary-hover">
							<li class="nav-item"><a class="nav-link text-white-50" href="#">Sign up</a></li>
							<li class="nav-item"><a class="nav-link text-white-50" href="#">Sign in</a></li>
							<li class="nav-item"><a class="nav-link text-white-50" href="#">Privacy Policy</a></li>
							<li class="nav-item"><a class="nav-link text-white-50" href="#">Terms</a></li>
							<li class="nav-item"><a class="nav-link text-white-50" href="#">Cookie</a></li>
							<li class="nav-item"><a class="nav-link text-white-50" href="#">Support</a></li>
						</ul>
					</div>
									
					<!-- Link block -->
					<div class="col-6 col-md-3">
						<h5 class="text-white mb-2 mb-md-4">Global Site</h5>
						<ul class="nav flex-column text-primary-hover">
							<li class="nav-item"><a class="nav-link text-white-50" href="#">India</a></li>
							<li class="nav-item"><a class="nav-link text-white-50" href="#">California</a></li>
							<li class="nav-item"><a class="nav-link text-white-50" href="#">Indonesia</a></li>
							<li class="nav-item"><a class="nav-link text-white-50" href="#">Canada</a></li>
							<li class="nav-item"><a class="nav-link text-white-50" href="#">Malaysia</a></li>
						</ul>
					</div>

					<!-- Link block -->
					<div class="col-6 col-md-3">
						<h5 class="text-white mb-2 mb-md-4">Booking</h5>
						<ul class="nav flex-column text-primary-hover">
							<li class="nav-item"><a class="nav-link text-white-50" href="#">Hotel</a></li>
							<li class="nav-item"><a class="nav-link text-white-50" href="#">Flight</a></li>
							<li class="nav-item"><a class="nav-link text-white-50" href="#">Tour</a></li>
							<li class="nav-item"><a class="nav-link text-white-50" href="#">Cabs</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- Widget 2 END -->

		</div><!-- Row END -->

		<!-- Tops Links -->
		<div class="row mt-5">
			<h5 class="mb-2 text-white">Top Links</h5>
			<ul class="list-inline text-primary-hover lh-lg">
				<li class="list-inline-item"><a href="#" class="text-white-50">Flights</a></li>
				<li class="list-inline-item"><a href="#" class="text-white-50">Hotels</a></li>
				<li class="list-inline-item"><a href="#" class="text-white-50">Tours</a></li>
				<li class="list-inline-item"><a href="#" class="text-white-50">Cabs</a></li>
				<li class="list-inline-item"><a href="#" class="text-white-50">About</a></li>
				<li class="list-inline-item"><a href="#" class="text-white-50">Contact us</a></li>
				<li class="list-inline-item"><a href="#" class="text-white-50">Blogs</a></li>
				<li class="list-inline-item"><a href="#" class="text-white-50">Services</a></li>
				<li class="list-inline-item"><a href="#" class="text-white-50">Detail page</a></li>
				<li class="list-inline-item"><a href="#" class="text-white-50">Services</a></li>
				<li class="list-inline-item"><a href="#" class="text-white-50">Policy</a></li>
				<li class="list-inline-item"><a href="#" class="text-white-50">Testimonials</a></li>
				<li class="list-inline-item"><a href="#" class="text-white-50">Newsletters</a></li>
				<li class="list-inline-item"><a href="#" class="text-white-50">Podcasts</a></li>
				<li class="list-inline-item"><a href="#" class="text-white-50">Protests</a></li>
				<li class="list-inline-item"><a href="#" class="text-white-50">NewsCyber</a></li>
				<li class="list-inline-item"><a href="#" class="text-white-50">Education</a></li>
				<li class="list-inline-item"><a href="#" class="text-white-50">Sports</a></li>
				<li class="list-inline-item"><a href="#" class="text-white-50">Tech and Auto</a></li>
				<li class="list-inline-item"><a href="#" class="text-white-50">Opinion</a></li>
				<li class="list-inline-item"><a href="#" class="text-white-50">Share Market</a></li>
			</ul>
		</div>

		<!-- Payment and card -->
		<div class="row g-4 justify-content-between mt-0 mt-md-2">

			<!-- Payment card -->
			<div class="col-sm-7 col-md-6 col-lg-4">
				<h5 class="text-white mb-2">Payment & Security</h5>
				<ul class="list-inline mb-0 mt-3">
					<li class="list-inline-item"> <a href="#"><img src="../../../assets/FooterImages/footer1.svg" width="35" height="35" alt=""></a></li>
					<li class="list-inline-item"> <a href="#"><img src="../../../assets/FooterImages/footer2.svg" width="35" height="35"  alt=""></a></li>
					<li class="list-inline-item"> <a href="#"><img src="../../../assets/FooterImages/footer3.svg" width="35" height="35"  alt=""></a></li>
					<li class="list-inline-item"> <a href="#"><img src="../../../assets/FooterImages/footer4.svg" width="35" height="35"  alt=""></a></li>
				</ul>
			</div>

			<!-- Social media icon -->
			<div class="col-sm-5 col-md-6 col-lg-3 text-sm-end">
				<h5 class="text-white mb-2">Follow us on</h5>
				<ul class="list-inline mb-0 mt-3">
				    <li class="list-inline-item"> <a class="btn btn-sm px-2 bg-facebook mb-0" href="#"><i class="text-white bi bi-facebook"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-sm shadow px-2 bg-instagram mb-0" href="#"><i class="text-white bi bi-instagram"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-sm shadow px-2 bg-twitter mb-0" href="#"><i class="bi bi-twitter text-white"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-sm shadow px-2 bg-linkedin mb-0" href="#"><i class="bi bi-linkedin text-white"></i></a> </li>
				</ul>	
			</div>
		</div>

		<!-- Divider -->
		<hr class="mt-4 mb-0">

		<!-- Bottom footer -->
		<div class="row">
			<div class="container">
				<div class="d-lg-flex justify-content-between align-items-center py-3 text-center text-lg-start">
					<!-- copyright text -->
					<div class="text-white-50 text-primary-hover"> Copyrights ©2023 CozyHeaven Stay</div>
					<!-- copyright links-->
					<div class="nav mt-2 mt-lg-0">
						<ul class="list-inline text-primary-hover mx-auto mb-0">
							<li class="list-inline-item me-0"><a class="nav-link text-white-50 py-1" href="#">Privacy policy</a></li>
							<li class="list-inline-item me-0"><a class="nav-link text-white-50 py-1" href="#">Terms and conditions</a></li>
							<li class="list-inline-item me-0"><a class="nav-link text-white-50 py-1 pe-0" href="#">Refund policy</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- =======================
Footer END -->

<!-- Back to top -->
<!-- <div class="back-top"></div> -->

