/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hind Siliguri", sans-serif;
}

html , body {
    overflow-x: hidden;
    /* overflow-y: auto; */
    scroll-behavior: smooth;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #afb2bf;
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 3px;
  }
  
  *::-webkit-scrollbar-track {
    background: #000814;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #afb2bf;
    border-radius: 10px;
    visibility: hidden;
  }
  
  *:active::-webkit-scrollbar-thumb,
  *:focus::-webkit-scrollbar-thumb,
  *:hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }


  /* Form style */
  input.ng-invalid.ng-touched{
    border: red 2px solid;
  }
  
  input.ng-pending{
    border: yellow 2px solid;
  }

  small{
    color: red;
    font-weight: bold;
  }

  .mand {
    color : rgb(206, 33, 91);
    font-size: 0.9rem;
  }