<!-- **************** MAIN CONTENT START **************** -->
<main>
  <!-- =======================
    Main Banner START -->
  <section class="pt-0">
    <div class="container">
      <!-- Background image -->
      <div
        class="rounded-3 p-3 p-sm-5"
        style="
          background-image: url(../../../../assets/HotelImages/hero-hotel1.jpg);
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
        "
      >
        <!-- Banner title -->
        <div class="row my-2 my-xl-5">
          <div class="col-md-8 mx-auto">
            <h1 class="text-center text-white">
              Cozy Heaven - Heaven of Hotels
            </h1>
          </div>
        </div>

        <!-- Booking form START -->
        <form
          [formGroup]="searchForm"
          (ngSubmit)="onSubmit()"
          class="bg-mode shadow rounded-3 position-relative p-4 pe-md-5 pb-5 pb-md-4 mb-4"
        >
          <div class="row g-4 align-items-center">
            <!-- Location -->
            <div class="col-lg-6">
              <div
                class="form-control-border form-control-transparent form-fs-md d-flex"
              >
                <!-- Icon -->
                <i class="bi bi-geo-alt fs-3 me-2 mt-2"></i>
                
                <div class="flex-grow-1">
                    <label class="form-label">Location</label>
                    <div class="form-control-border form-control-transparent form-fs-md">
                      <input type="text" class="form-control" formControlName="location" placeholder="Select location">
                    </div>
                </div>
              </div>
            </div>


            <!-- Guest -->
            <div class="col-lg-6">
                <div
                  class="form-control-border form-control-transparent form-fs-md d-flex"
                >
                  <!-- Icon -->
                  <i class="bi bi-person fs-3 me-2 mt-2"></i>
                  <!-- Dropdown input -->
                  <div class="w-100">
                    <label class="form-label">Guests & rooms</label>
                    <div class="dropdown guest-selector me-2">
                      <input
                        type="text"
                        class="form-guest-selector form-control selection-result"
                        value="{{(searchForm.get('numberOfAdults').value + searchForm.get('numberOfChildren').value)}}  Guests  & {{searchForm.get('numberOfRooms').value}} Room"
                        id="dropdownGuest"
                        data-bs-auto-close="outside"
                        data-bs-toggle="dropdown"
                      />
                      <!-- dropdown items -->
                      <ul
                        class="dropdown-menu guest-selector-dropdown"
                        aria-labelledby="dropdownGuest"
                      >
                        <!-- Adult -->
                        <li class="d-flex justify-content-between">
                          <div>
                            <h6 class="mb-0">Adults</h6>
                            <small>Ages 14 or above</small>
                          </div>
                          <div class="hstack gap-1 align-items-center">
                            <button (click)="addAdult(false)"
                              type="button"
                              class="btn btn-link adult-remove p-0 mb-0"
                            >
                              <i class="bi bi-dash-circle fs-5 fa-fw"></i>
                            </button>
                            <h6 class="guest-selector-count mb-0 adults">{{searchForm.get('numberOfAdults').value}}</h6>
                            <button (click)="addAdult(true)"
                              type="button"
                              class="btn btn-link adult-add p-0 mb-0"
                            >
                              <i class="bi bi-plus-circle fs-5 fa-fw"></i>
                            </button>
                          </div>
                        </li>
                        <!-- Divider -->
                        <li class="dropdown-divider"></li>
                        <!-- Child -->
                        <li class="d-flex justify-content-between">
                          <div>
                            <h6 class="mb-0">Child</h6>
                            <small>Ages 14 below</small>
                          </div>
                          <div class="hstack gap-1 align-items-center">
                            <button (click)="noOfChildren(false)"
                              type="button"
                              class="btn btn-link child-remove p-0 mb-0"
                            >
                              <i class="bi bi-dash-circle fs-5 fa-fw"></i>
                            </button>
                            <h6 class="guest-selector-count mb-0 child">{{searchForm.get('numberOfChildren').value}}</h6>
                            <button (click)="noOfChildren(true)"
                              type="button"
                              class="btn btn-link child-add p-0 mb-0"
                            >
                              <i class="bi bi-plus-circle fs-5 fa-fw"></i>
                            </button>
                          </div>
                        </li>
                        <!-- Divider -->
                        <li class="dropdown-divider"></li>
                        <!-- Rooms -->
                        <li class="d-flex justify-content-between">
                          <div>
                            <h6 class="mb-0">Rooms</h6>
                            <small>Max room 8</small>
                          </div>
                          <div class="hstack gap-1 align-items-center">
                            <button (click)="noOfRooms(false)"
                              type="button"
                              class="btn btn-link room-remove p-0 mb-0"
                            >
                              <i class="bi bi-dash-circle fs-5 fa-fw"></i>
                            </button>
                            <h6 class="guest-selector-count mb-0 rooms">{{searchForm.get('numberOfRooms').value}}</h6>
                            <button (click)="noOfRooms(true)"
                              type="button"
                              class="btn btn-link room-add p-0 mb-0"
                            >
                              <i class="bi bi-plus-circle fs-5 fa-fw"></i>
                            </button>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>  

            <!-- Date Range -->
            <div class="col-lg-12">
              <div
                  class="form-control-border form-control form-fs-md d-flex bg-light py-3 px-4 rounded-3">
                  <!-- Icon -->
                  <i class="bi bi-calendar fs-3 me-2 mt-2"></i>
                  <!-- Date input -->
                  <div class="w-100">
                      <label class="form-label fw-light small mb-1">Check-in and Check-out
                          Date</label>
                      <input type="text" name="selectedDate"
                          class="form-control flatpickr" bsDaterangepicker
                          formControlName="selectedDates"
                          [bsConfig]="{ isAnimated: true, containerClass: 'theme-dark-blue', dateInputFormat: 'YYYY-MM-DD', minDate: minDate}"
                          required>
                  </div>
              </div>
          </div>
                    
            
                      
          </div>
          <!-- Button -->
          <div class="btn-position-md-middle">
            <button type="submit" class="icon-lg btn btn-round btn-primary mb-0" href="#"
              ><i class="bi bi-search fa-fw"></i
            ></button>
          </div>
        </form>
        <!-- Booking from END -->
      </div>
    </div>
  </section>
  <!-- =======================
    Main Banner END -->

  <!-- =======================
    Hotel list START -->
  <section class="pt-0">
    <div class="container">
      

      <div class="row">
        <!-- Left sidebar START -->
        <aside class="col-xl-4 col-xxl-3">
          <!-- Responsive offcanvas body START -->
          <div
            class="offcanvas-xl offcanvas-end"
            tabindex="-1"
            id="offcanvasSidebar"
            aria-labelledby="offcanvasSidebarLabel"
          >
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasSidebarLabel">
                Advance Filters
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                data-bs-target="#offcanvasSidebar"
                aria-label="Close"
              ></button>
            </div>
            <div class="offcanvas-body flex-column p-3 p-xl-0">
              <form class="rounded-3 shadow">
                <!-- Hotel type START -->
                <div class="card card-body rounded-0 rounded-top p-4">
                  <!-- Title -->
                  <h6 class="mb-2">Hotel Type</h6>
                  <!-- Hotel Type group -->
                  <div class="col-12">
                    <!-- Checkbox -->
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="hotelType1"
                      />
                      <label class="form-check-label" for="hotelType1"
                        >All</label
                      >
                    </div>
                    <!-- Checkbox -->
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="hotelType2"
                      />
                      <label class="form-check-label" for="hotelType2"
                        >Hotel</label
                      >
                    </div>
                    <!-- Checkbox -->
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="hotelType3"
                      />
                      <label class="form-check-label" for="hotelType3"
                        >Apartment</label
                      >
                    </div>
                    <!-- Checkbox -->
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="hotelType4"
                      />
                      <label class="form-check-label" for="hotelType4"
                        >Resort</label
                      >
                    </div>
                    <!-- Checkbox -->
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="hotelType5"
                      />
                      <label class="form-check-label" for="hotelType5"
                        >Villa</label
                      >
                    </div>
                    <!-- Checkbox -->
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="hotelType6"
                      />
                      <label class="form-check-label" for="hotelType6"
                        >Lodge</label
                      >
                    </div>

                    <!-- Collapse body -->
                    <div class="multi-collapse collapse" id="hotelType">
                      <!-- Checkbox -->
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="hotelType7"
                        />
                        <label class="form-check-label" for="hotelType7"
                          >Guest House</label
                        >
                      </div>
                      <!-- Checkbox -->
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="hotelType10"
                        />
                        <label class="form-check-label" for="hotelType10"
                          >Cottage</label
                        >
                      </div>
                      <!-- Checkbox -->
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="hotelType8"
                        />
                        <label class="form-check-label" for="hotelType8"
                          >Beach Hut</label
                        >
                      </div>
                      <!-- Checkbox -->
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="hotelType9"
                        />
                        <label class="form-check-label" for="hotelType9"
                          >Farm house</label
                        >
                      </div>
                    </div>
                    <!-- Collapse button -->
                    <a
                      class="p-0 mb-0 mt-2 btn-more d-flex align-items-center collapsed"
                      data-bs-toggle="collapse"
                      href="#hotelType"
                      role="button"
                      aria-expanded="false"
                      aria-controls="hotelType"
                    >
                      See <span class="see-more ms-1">more</span
                      ><span class="see-less ms-1">less</span
                      ><i class="fa-solid fa-angle-down ms-2"></i>
                    </a>
                  </div>
                </div>
                <!-- Hotel type END -->

                <hr class="my-0" />
                <!-- Divider -->

                <!-- Price range START -->
                <div class="card card-body rounded-0 p-4">
                  <!-- Title -->
                  <h6 class="mb-2">Price range</h6>
                  <!-- Price range group -->
                  <div class="col-12">
                    <!-- Checkbox -->
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="priceRange1"
                      />
                      <label class="form-check-label" for="priceRange1"
                        >Up to ₹500</label
                      >
                    </div>
                    <!-- Checkbox -->
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="priceRange2"
                      />
                      <label class="form-check-label" for="priceRange2"
                        >₹500 - ₹1000</label
                      >
                    </div>
                    <!-- Checkbox -->
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="priceRange3"
                      />
                      <label class="form-check-label" for="priceRange3"
                        >₹1000 - ₹1500</label
                      >
                    </div>
                    <!-- Checkbox -->
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="priceRange4"
                      />
                      <label class="form-check-label" for="priceRange4"
                        >₹1500 - ₹2000</label
                      >
                    </div>
                    <!-- Checkbox -->
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="priceRange5"
                      />
                      <label class="form-check-label" for="priceRange5"
                        >₹2000+</label
                      >
                    </div>
                  </div>
                </div>
                <!-- Price range END -->


                <hr class="my-0" />
                <!-- Divider -->

                <!-- Customer Rating START -->
                <div class="card card-body rounded-0 p-4">
                  <!-- Title -->
                  <h6 class="mb-2">Customer Rating</h6>
                  <!-- Customer Rating group -->
                  <ul class="list-inline mb-0 g-3">
                    <!-- Item -->
                    <li class="list-inline-item mb-0">
                      <input
                        type="checkbox"
                        class="btn-check"
                        id="btn-check-c1"
                      />
                      <label
                        class="btn btn-sm btn-light btn-primary-soft-check"
                        for="btn-check-c1"
                        >3+</label
                      >
                    </li>
                    <!-- Item -->
                    <li class="list-inline-item mb-0">
                      <input
                        type="checkbox"
                        class="btn-check"
                        id="btn-check-c2"
                      />
                      <label
                        class="btn btn-sm btn-light btn-primary-soft-check"
                        for="btn-check-c2"
                        >3.5+</label
                      >
                    </li>
                    <!-- Item -->
                    <li class="list-inline-item mb-0">
                      <input
                        type="checkbox"
                        class="btn-check"
                        id="btn-check-c3"
                      />
                      <label
                        class="btn btn-sm btn-light btn-primary-soft-check"
                        for="btn-check-c3"
                        >4+</label
                      >
                    </li>
                    <!-- Item -->
                    <li class="list-inline-item mb-0">
                      <input
                        type="checkbox"
                        class="btn-check"
                        id="btn-check-c4"
                      />
                      <label
                        class="btn btn-sm btn-light btn-primary-soft-check"
                        for="btn-check-c4"
                        >4.5+</label
                      >
                    </li>
                  </ul>
                </div>
                <!-- Customer Rating END -->

                <hr class="my-0" />
                <!-- Divider -->

                <hr class="my-0" />
                <!-- Divider -->

                <!-- Amenities START -->
                <div class="card card-body rounded-0 rounded-bottom p-4">
                  <!-- Title -->
                  <h6 class="mb-2">Amenities</h6>
                  <!-- Amenities group -->
                  <div class="col-12">
                    <!-- Checkbox -->
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="amenitiesType1"
                      />
                      <label class="form-check-label" for="amenitiesType1"
                        >All</label
                      >
                    </div>
                    <!-- Checkbox -->
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="amenitiesType2"
                      />
                      <label class="form-check-label" for="amenitiesType2"
                        >Air Conditioning</label
                      >
                    </div>
                    <!-- Checkbox -->
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="amenitiesType3"
                      />
                      <label class="form-check-label" for="amenitiesType3"
                        >Bar</label
                      >
                    </div>
                    <!-- Checkbox -->
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="amenitiesType4"
                      />
                      <label class="form-check-label" for="amenitiesType4"
                        >Bonfire</label
                      >
                    </div>
                    <!-- Checkbox -->
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="amenitiesType5"
                      />
                      <label class="form-check-label" for="amenitiesType5"
                        >Business Services</label
                      >
                    </div>
                    <!-- Checkbox -->
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="amenitiesType6"
                      />
                      <label class="form-check-label" for="amenitiesType6"
                        >Caretaker</label
                      >
                    </div>

                    <!-- Collapse body -->
                    <div class="multi-collapse collapse" id="amenitiesCollapes">
                      <!-- Checkbox -->
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="amenitiesType7"
                        />
                        <label class="form-check-label" for="amenitiesType7"
                          >Dining</label
                        >
                      </div>
                      <!-- Checkbox -->
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="amenitiesType8"
                        />
                        <label class="form-check-label" for="amenitiesType8"
                          >Free Internet</label
                        >
                      </div>
                      <!-- Checkbox -->
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="amenitiesType9"
                        />
                        <label class="form-check-label" for="amenitiesType9"
                          >Hair nets</label
                        >
                      </div>
                      <!-- Checkbox -->
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="amenitiesType10"
                        />
                        <label class="form-check-label" for="amenitiesType10"
                          >Masks</label
                        >
                      </div>
                    </div>
                    <!-- Collapse button -->
                    <a
                      class="p-0 mb-0 mt-2 btn-more d-flex align-items-center collapsed"
                      data-bs-toggle="collapse"
                      href="#amenitiesCollapes"
                      role="button"
                      aria-expanded="false"
                      aria-controls="amenitiesCollapes"
                    >
                      See <span class="see-more ms-1">more</span
                      ><span class="see-less ms-1">less</span
                      ><i class="fa-solid fa-angle-down ms-2"></i>
                    </a>
                  </div>
                </div>
                <!-- Amenities END -->
              </form>
              <!-- Form End -->
            </div>
            <!-- Buttons -->
            <div class="d-flex justify-content-between p-2 p-xl-0 mt-xl-4">
              <button class="btn btn-link p-0 mb-0">Clear all</button>
              <button class="btn btn-primary mb-0">Filter Result</button>
            </div>
          </div>
          <!-- Responsive offcanvas body END -->
        </aside>
        <!-- Left sidebar END -->

        <!-- Main content START -->
        <div class="col-xl-8 col-xxl-9">
          <div class="vstack gap-4">

            <!-- Card item START -->
            <ng-container *ngIf="hotelList">
                <app-hotelcard *ngFor="let data of hotelList.data" [card]="data"></app-hotelcard>
            </ng-container>
            <!-- Card item END -->

           

            <!-- Pagination -->
            <!-- <nav class="d-flex justify-content-center" aria-label="navigation">
              <ul
                class="pagination pagination-primary-soft d-inline-block d-md-flex rounded mb-0"
              >
                <li class="page-item mb-0">
                  <a class="page-link" href="#" tabindex="-1"
                    ><i class="fa-solid fa-angle-left"></i
                  ></a>
                </li>
                <li class="page-item mb-0">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item mb-0 active">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item mb-0">
                  <a class="page-link" href="#">..</a>
                </li>
                <li class="page-item mb-0">
                  <a class="page-link" href="#">6</a>
                </li>
                <li class="page-item mb-0">
                  <a class="page-link" href="#"
                    ><i class="fa-solid fa-angle-right"></i
                  ></a>
                </li>
              </ul>
            </nav> -->
          </div>
        </div>
        <!-- Main content END -->
      </div>
      <!-- Row END -->
    </div>
  </section>
  <!-- =======================
    Hotel list END -->
</main>
<!-- **************** MAIN CONTENT END **************** -->
