<!-- Main content START -->
<div >    
    <!-- Offcanvas menu button -->
    <!-- <div class="d-grid mb-0 d-lg-none w-100">
        <button class="btn btn-primary mb-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
            <i class="fas fa-sliders-h"></i> Menu
        </button>
    </div> -->

    <div class="vstack gap-4">
        
        <!-- Personal info START -->
        <div class="card border">
            <!-- Card header -->
            <div class="card-header border-bottom">
                <h4 class="card-header-title">Personal Information</h4>
            </div>

            <!-- Card body START -->
            <div class="card-body">
                <!-- Form START -->
                <form [formGroup]="userForm" (ngSubmit)="updateProfile()" class="row g-3">
                    <!-- Profile photo -->
                    <div class="col-12">
                        <label class="form-label">Upload your profile photo<span class="text-danger">*</span></label>
                        <div class="d-flex align-items-center">
                            <label class="position-relative me-4" for="uploadfile-1" title="Replace this pic">
                                <!-- Avatar place holder -->
                                <span class="avatar avatar-xl">
                                    <img id="uploadfile-1-preview" class="avatar-img rounded-circle border border-white border-3 shadow" 
                                    [src]="imagePreview ? imagePreview  : user?.profileImage" alt="profile">
                                </span>
                            </label>
                            <!-- Upload button -->
                            <label class="btn btn-sm btn-primary-soft mb-0" for="uploadfile-1">Change</label>
                            <input id="uploadfile-1" (change)="onFileSelected($event)" class="form-control d-none" type="file">
                            <button type="button" style="margin-left: 5px;" class=" btn btn-sm btn-primary-soft mb-0" (click)="onUpload()">Upload</button>
                        </div>
                    </div>

                    <!-- First Name -->
                    <div class="col-md-6">
                        <label class="form-label">First Name<span class="text-danger">*</span></label>
                        <input [readOnly]="allowEdit" type="text" class="form-control" formControlName="firstName" placeholder="Enter your full name">
                    </div>
                    <!-- Last Name -->
                    <div class="col-md-6">
                        <label class="form-label">Last Name<span class="text-danger">*</span></label>
                        <input [readOnly]="allowEdit" type="text" class="form-control" formControlName="lastName" placeholder="Enter your full name">
                    </div>

                    <!-- Email -->
                    <div class="col-md-6">
                        <label class="form-label">Email address<span class="text-danger">*</span></label>
                        <input readonly type="email" class="form-control text-white bg-secondary" formControlName="email" placeholder="Enter your email id">
                    </div>

                    <!-- Mobile -->
                    <div *ngIf="user?.role !== 'Admin'" class="col-md-6">
                        <label class="form-label">Mobile number<span class="text-danger">*</span></label>
                        <input [readOnly]="allowEdit" type="text" class="form-control" formControlName="contactNumber" placeholder="Enter your mobile number">
                    </div>

                    <!-- Nationality -->
                    <div *ngIf="user?.role !== 'Admin'" class="col-md-6">
                        <label class="form-label">Nationality<span class="text-danger">*</span></label>
                        <select class="form-select js-choice">
                            <option value="">Select your country</option>
                            <option>USA</option>
                            <option selected>India</option>
                            <option>UK</option>
                        </select>
                    </div>

                    <!-- Date of birth -->
                    <!-- <div class="col-md-6">
                        <label class="form-label">Date of Birth<span class="text-danger">*</span></label>
                        <input type="text" class="form-control flatpickr" value="29 Aug 1996" placeholder="Enter date of birth" data-date-format="d M Y">
                    </div> -->

                    <!-- Gender -->
                    <div class="col-md-6" *ngIf="user?.role !== 'Admin'">
                        <label class="form-label">Select Gender<span class="text-danger">*</span></label>
                        <div class="d-flex gap-4">
                            <div class="form-check radio-bg-light">
                                <input [readOnly]="allowEdit" class="form-check-input" type="radio" name="gender" value="Male" formControlName="gender" id="flexRadioDefault1" checked="">
                                <label  class="form-check-label" for="flexRadioDefault1">
                                    Male
                                </label>
                            </div>
                            <div class="form-check radio-bg-light">
                                <input [readOnly]="allowEdit" class="form-check-input" type="radio" name="gender" value="Female" formControlName="gender" id="flexRadioDefault2">
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Female
                                </label>
                            </div>
                            <div class="form-check radio-bg-light">
                                <input [readOnly]="allowEdit" class="form-check-input" type="radio" name="gender" value="Other" formControlName="gender" id="flexRadioDefault3">
                                <label class="form-check-label" for="flexRadioDefault3">
                                    Others
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- Address -->
                    <div *ngIf="user?.role !== 'Admin'" class="col-12">
                        <label class="form-label">Address</label>
                        <textarea [readOnly]="allowEdit" class="form-control" formControlName="address" rows="3" spellcheck="false">2119 N Division Ave, New Hampshire, York, United States</textarea>
                    </div>

                    <!-- Button -->
                    <div class="col-12 text-end">
                        <button type="submit" class="btn btn-primary mb-0">Save Changes</button>
                    </div>
                </form>
                <!-- Form END -->
            </div>
            <!-- Card body END -->
        </div>
        <!-- Personal info END -->

        <!-- Update email START -->
        <div class="card border">
            <!-- Card header -->
            <div class="card-header border-bottom">
                <h4 class="card-header-title">Update email</h4>
                <p class="mb-0">Your current email address is <span class="text-primary">{{user?.email}}</span></p>
            </div>

            <!-- Card body START -->
            <div class="card-body">
                <form [formGroup]="userForm" (ngSubmit)="updateProfile()">
                    <!-- Email -->
                    <label class="form-label">Enter your new email id<span class="text-danger">*</span></label>
                    <input [readOnly]="allowEdit" type="email" class="form-control" formControlName="email" placeholder="Enter your email id">

                    <div class="text-end mt-3">
                        <button type="submit" class="btn btn-primary mb-0">Save Email</button>
                    </div>
                </form>	
            </div>
            <!-- Card body END -->
        </div>
        <!-- Update email END -->

        <!-- Update Password START -->
        <div class="card border">
            <!-- Card header -->
            <div class="card-header border-bottom">
                <h4 class="card-header-title">Update Password</h4>
                <p class="mb-0">Your current email address is <span class="text-primary">{{user?.email}}</span></p>
            </div>

            <!-- Card body START -->
            <form [formGroup]="userForm" (ngSubmit)="updateProfile()" class="card-body">
                <!-- New password -->
                <div class="mb-3">
                    <label class="form-label"> Enter new password</label>
                    <div class="input-group">
                        <input [readOnly]="allowEdit" class="form-control fakepassword" placeholder="Enter new password" [type]="showPassword ? 'text' : 'password'" formControlName="password" id="psw-input">
                        <span (click)="toggleShowPassword()" style="cursor: pointer; width: 40px;" class="input-group-text p-0 bg-transparent">
                            <i class=" fas fa-eye-slash cursor-pointer p-2" *ngIf="!showPassword"></i>
                            <i class=" fas fa fa-eye cursor-pointer p-2" *ngIf="showPassword"></i>
                        </span>
                    </div>
                </div>

               
                <!-- Confirm -->
                <div class="mb-3">
                    <label class="form-label">Confirm new password</label>
                    <input [readOnly]="allowEdit" formControlName="confirmPassword" class="form-control" type="password" placeholder="Confirm new password">
                </div>

                <div class="text-end">
                    <button type="submit" class="btn btn-primary mb-0">Change Password</button>
                </div>
            </form>
            <!-- Card body END -->
        </div>
        <!-- Update Password END -->
    </div>
</div>
<!-- Main content END -->
