<!-- =======================
Main banner START -->
<section>
	<div class="container">
		<div class="row mb-5">
			<div class="col-xl-10 mx-auto text-center">
				<!-- Title -->
				<h1>If You Want To See The World We Will Help You</h1>
				<p class="lead">Ten welcoming passages lead to heartening accommodations, where every guest's comfort is our priority. Mrs. Prosperous, attuned to the needs of our esteemed guests, cherishes openness and hospitality. We prioritize creating an atmosphere of genuine surprise and delight, ensuring each visitor feels truly welcomed and valued throughout their stay.</p>
				<!-- Meta -->
				<div class="hstack gap-3 flex-wrap justify-content-center">
					<!-- Item -->
					<h6 class="bg-mode shadow rounded-2 fw-normal d-inline-block py-2 px-4">
						<img src="./assets/HomeImages/about/06.svg" class="h-20px me-2" alt="">
						14K+ Global Customers
					</h6>

					<!-- Item -->
					<h6 class="bg-mode shadow rounded-2 fw-normal d-inline-block py-2 px-4">
						<img src="./assets/HomeImages/about/07.svg" class="h-20px me-2" alt="">
						10K+ Happy Customers
					</h6>

					<!-- Item -->
					<h6 class="bg-mode shadow rounded-2 fw-normal d-inline-block py-2 px-4">
						<img src="./assets/HomeImages/about/08.svg" class="h-20px me-2" alt="">
						1M+ Subscribers
					</h6>
				</div>
			</div>
		</div> <!-- Row END -->

		<!-- Image START -->
		<div class="row g-4 align-items-center">
			<!-- Image -->
			<div class="col-md-6">
				<img src="./assets/HomeImages/about/about1.png" class="rounded-3" alt="">
			</div>

			<div class="col-md-6">
				<div class="row g-4">
					<!-- Image -->
					<div class="col-md-8">
						<img src="./assets/HomeImages/about/about3.png" class="rounded-3" alt="">
					</div>

					<!-- Image -->
					<div class="col-12">
						<img src="./assets/HomeImages/about/07.jpg" class="rounded-3" alt="">
					</div>
				</div>
			</div>
		</div>
		<!-- Image END -->
	</div>
</section>

<!-- =======================
About content START -->
<section class="pt-0 pt-lg-5">
	<div class="container">
		<!-- Content START -->
		<div class="row mb-4 mb-md-5">
			<div class="col-md-10 mx-auto">
				<h3 class="mb-4">Our Story</h3>
				<p class="fw-bold">Established in 2020, our passage through the years has been marked by ten heartfelt endeavors in providing cordial hospitality. We pride ourselves on exceeding expectations, as exemplified by Mrs. Prosperous, who comprehends the needs of our guests with unparalleled insight.</p>
				<p class="mb-0">Whether it's a sumptuous breakfast or impeccable accommodations, every detail is meticulously attended to. Our commitment draws admiration, ensuring a memorable experience for every guest. Waterfront views, deluxe amenities, and personalized service are just some of the means by which we provide unparalleled comfort. Our discretion is matched only by our dedication to ensuring every guest leaves with cherished memories. We believe in delivering an experience that resonates with every visitor, creating a harmonious blend of luxury and warmth that sets us apart. Come and experience our world-class hospitality, where your satisfaction is our utmost priority.</p>
			</div>
		</div>
		<!-- Content END -->

		
	</div>
</section>
<!-- =======================
About content END -->

<!-- =======================
Team START -->
<section class="pt-0">
	<div class="container">
		<!-- Title -->
		<div class="row mb-4">
			<div class="col-12">
				<h2 class="mb-0">Our Team</h2>
			</div>
		</div>

		<!-- Team START -->
		<div class="row g-4">
			<!-- Team item START -->
			<div class="col-sm-6 col-lg-3">
				<div class="card card-element-hover bg-transparent">
					<div class="position-relative">
						<!-- Image -->
						<img src="./assets/HomeImages/team/03.jpg" class="card-img" alt="">

						<div class="card-img-overlay hover-element d-flex p-3">
							<!-- Category -->
							<div class="btn-group mt-auto">
								<a href="#" class="btn btn-white mb-0"><i class="fa-brands fa-facebook-f text-facebook"></i></a>
								<a href="#" class="btn btn-white mb-0"><i class="fa-brands fa-instagram text-instagram"></i></a>
								<a href="#" class="btn btn-white mb-0"><i class="fa-brands fa-twitter text-twitter"></i></a>
							</div>
						</div>
					</div>
					<!-- Card body -->
					<div class="card-body px-2 pb-0">
						<h5 class="card-title"><a href="#">Larry Lawson</a></h5>
						<span>Editor in Chief</span>
					</div>
				</div>
			</div>
			<!-- Team item END -->

			<!-- Team item START -->
			<div class="col-sm-6 col-lg-3">
				<div class="card card-element-hover bg-transparent">
					<div class="position-relative">
						<!-- Image -->
						<img src="./assets/HomeImages/team/04.jpg" class="card-img" alt="">

						<div class="card-img-overlay hover-element d-flex p-3">
							<!-- Category -->
							<div class="btn-group mt-auto">
								<a href="#" class="btn btn-white mb-0"><i class="fa-brands fa-facebook-f text-facebook"></i></a>
								<a href="#" class="btn btn-white mb-0"><i class="fa-brands fa-instagram text-instagram"></i></a>
								<a href="#" class="btn btn-white mb-0"><i class="fa-brands fa-twitter text-twitter"></i></a>
							</div>
						</div>
					</div>
					<!-- Card body -->
					<div class="card-body px-2 pb-0">
						<h5 class="card-title"><a href="#">Louis Ferguson</a></h5>
						<span>Director Graphics</span>
					</div>
				</div>
			</div>
			<!-- Team item END -->

			<!-- Team item START -->
			<div class="col-sm-6 col-lg-3">
				<div class="card card-element-hover bg-transparent">
					<div class="position-relative">
						<!-- Image -->
						<img src="./assets/HomeImages/team/05.jpg" class="card-img" alt="">

						<div class="card-img-overlay hover-element d-flex p-3">
							<!-- Category -->
							<div class="btn-group mt-auto">
								<a href="#" class="btn btn-white mb-0"><i class="fa-brands fa-facebook-f text-facebook"></i></a>
								<a href="#" class="btn btn-white mb-0"><i class="fa-brands fa-instagram text-instagram"></i></a>
								<a href="#" class="btn btn-white mb-0"><i class="fa-brands fa-twitter text-twitter"></i></a>
							</div>
						</div>
					</div>
					<!-- Card body -->
					<div class="card-body px-2 pb-0">
						<h5 class="card-title"><a href="#">Louis Crawford</a></h5>
						<span>Editor, Coverage</span>
					</div>
				</div>
			</div>
			<!-- Team item END -->

			<!-- Team item START -->
			<div class="col-sm-6 col-lg-3">
				<div class="card card-element-hover bg-transparent">
					<div class="position-relative">
						<!-- Image -->
						<img src="./assets/HomeImages/team/06.jpg" class="card-img" alt="">

						<div class="card-img-overlay hover-element d-flex p-3">
							<!-- Category -->
							<div class="btn-group mt-auto">
								<a href="#" class="btn btn-white mb-0"><i class="fa-brands fa-facebook-f text-facebook"></i></a>
								<a href="#" class="btn btn-white mb-0"><i class="fa-brands fa-instagram text-instagram"></i></a>
								<a href="#" class="btn btn-white mb-0"><i class="fa-brands fa-twitter text-twitter"></i></a>
							</div>
						</div>
					</div>
					<!-- Card body -->
					<div class="card-body px-2 pb-0">
						<h5 class="card-title"><a href="#">Frances Guerrero</a></h5>
						<span>CEO, Coverage</span>
					</div>
				</div>
			</div>
			<!-- Team item END -->
			
		</div>
		<!-- Team END -->
	</div>
</section>
<!-- =======================
Team END -->