<section class="vh-xxl-100 w-100 mt-5">
	<div class="container h-100 d-flex px-0 px-sm-4 w-100">
		<div class="row justify-content-center align-items-center w-100 m-auto">
			<div class="col-12">
				<div class="bg-mode shadow rounded-3 overflow-hidden">
					<div class="row g-0 d-flex flex-row justify-content-between">
            <div class="col-lg-6 d-md-flex align-items-center order-2 order-lg-1">
							<div class="p-3 p-lg-5">
								<img src="../../../../assets/AuthImages/forgetpass.svg" class="img-fluid"  alt="">
							</div>
							<!-- Divider -->
							<div class="vr opacity-1 d-none d-lg-block" style="background-color: rgb(209, 202, 202);"></div>
						</div>

            <div class="col-lg-6 order-1 mt-5 ">
							<div class="p-5 p-sm-6">
								<!-- Logo -->
								<a href="index.html">
									<img class="h-50px mb-4" src="../../../../assets/AuthImages/authimages2.svg" height="70" width="60" alt="logo">
								</a>
								<!-- Title -->
								<h1 class="mb-2 h3 fw-bolder">Forgot password?</h1>
								<p class="mb-0">Enter the email address associated with an account.</p>
		
                <p class="small text-secondary">
                  Have no fear. We'll email you instructions to reset your password. If you dont have access to your email we can try account recovery
                </p>
								<!-- Form START -->
								<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="mt-4 p-3 text-start d-flex flex-column gap-2">
					
                  <div>
                    <label class="form-label text-secondary" for="email">Email</label>
                    <input class="form-control" placeholder="Enter email" type="email" formControlName="email" id="email">
                    <small *ngIf="loginForm.get('email').invalid && (loginForm.get('email').dirty || loginForm.get('email').touched)">
                      <small *ngIf="loginForm.get('email').errors['required']">Email is required.</small>
                      <small *ngIf="loginForm.get('email').errors['email']">Invalid email format.</small>
                    </small>
                  </div>
                
                  <button type="submit" class="btn btn-primary mt-3" [disabled]="loginForm.invalid">Reset Password</button>               
                </form>
								<!-- Form END -->
							</div>		
						</div>
          </div>
				</div>
			</div>
		</div>
	</div>
</section>