<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Email</label>
      <input type="email" formControlName="email" id="email">
      <div *ngIf="loginForm.get('email').invalid && (loginForm.get('email').dirty || loginForm.get('email').touched)">
        <div *ngIf="loginForm.get('email').errors['required']">Email is required.</div>
        <div *ngIf="loginForm.get('email').errors['email']">Invalid email format.</div>
      </div>
    </div>
  
    <div>
      <label for="password">Password</label>
      <input type="password" formControlName="password" id="password">
      <div *ngIf="loginForm.get('password').invalid && (loginForm.get('password').dirty || loginForm.get('password').touched)">
        <div *ngIf="loginForm.get('password').errors['required']">Password is required.</div>
      </div>
    </div>
  
    <button type="submit" [disabled]="!loginForm.valid">Login</button>
  </form>
  