<!-- sidebar.component.html -->
<div>
    <!-- Sidebar links -->
   <!-- **************** MAIN CONTENT START **************** -->
<main>
	
    <!-- =======================
    Content START -->
    <section class="pt-3">
        <div class="container">
            <div class="row">
    
                <!-- Sidebar START -->
                <div class="col-lg-4 col-xl-3">
                    <!-- Responsive offcanvas body START -->
                    <div class="offcanvas-lg offcanvas-end" tabindex="-1" id="offcanvasSidebar" >
                        <!-- Offcanvas header -->
                        <div class="offcanvas-header justify-content-end pb-2">
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasSidebar" aria-label="Close"></button>
                        </div>
    
                        <!-- Offcanvas body -->
                        <div class="offcanvas-body p-3 p-lg-0">
                            <div class="card bg-light w-100">
    
                                <!-- Edit profile button -->
                                <div class="position-absolute top-0 end-0 p-3">
                                    <a href="#" class="text-primary-hover" data-bs-toggle="tooltip" data-bs-title="Edit profile">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                </div>
    
                                <!-- Card body START -->
                                <div class="card-body p-3">
                                    <!-- Avatar and content -->
                                    <div class="text-center mb-3">
                                        <!-- Avatar -->
                                        <div class="avatar avatar-xl mb-2">
                                            <img class="avatar-img rounded-circle border border-2 border-white" src="assets/images/avatar/01.jpg" alt="">
                                        </div>
                                        <h6 class="mb-0">Jacqueline Miller</h6>
                                        <a href="#" class="text-reset text-primary-hover small">hellogmail.com</a>
                                        <hr>
                                    </div>
    
                                    <!-- Sidebar menu item START -->
                                    <ul class="nav nav-pills-primary-soft flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link active" routerLink="/dashboard/profile"><i class="bi bi-person fa-fw me-2"></i>My Profile</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" routerLink="/dashboard/bookings"><i class="bi bi-ticket-perforated fa-fw me-2"></i>My Bookings</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" routerLink="/dashboard/payment-history"><i class="bi bi-people fa-fw me-2"></i>Payment History</a>
                                        </li>
                                        <!-- <li class="nav-item">
                                            <a class="nav-link" href="account-payment-details.html"><i class="bi bi-wallet fa-fw me-2"></i>Payment Details</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="account-wishlist.html"><i class="bi bi-heart fa-fw me-2"></i>Wishlist</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="account-settings.html"><i class="bi bi-gear fa-fw me-2"></i>Settings</a>
                                        </li> -->
                                        <li class="nav-item">
                                            <a class="nav-link" routerLink="/dashboard/delete-profile"><i class="bi bi-trash fa-fw me-2"></i>Delete Profile</a>
                                        </li>
                                        <li class="nav-item">
                                            <div class="nav-link text-danger bg-danger-soft-hover" (click)="logOut()"><i class="fas fa-sign-out-alt fa-fw me-2"></i>Sign Out</div>
                                        </li>
                                    </ul>
                                    <!-- Sidebar menu item END -->
                                </div>
                                <!-- Card body END -->
                            </div>
                        </div>
                    </div>	
                    <!-- Responsive offcanvas body END -->	
                </div>
                <!-- Sidebar END -->
    
                <div class="col-lg-8 col-xl-9">
                    <router-outlet class="w-100"></router-outlet>
                </div>
                
            </div>
        </div>
    </section>
    <!-- =======================
    Content END -->
    
    </main>
    <!-- **************** MAIN CONTENT END **************** -->
    
  </div>
  <!-- Child router outlet -->
  