<!-- =======================
Main Title START -->
<section class="py-0 pt-sm-5">
	<div class="container position-relative">
		<!-- Title and button START -->
		<div class="row mb-3">
			<div class="col-12">
				<!-- Meta -->
				<div class="d-lg-flex justify-content-lg-between mb-1">
					<!-- Title -->
					<div class="mb-2 mb-lg-0">
						<h1 class="fs-2">{{hotel?.name}} </h1>
						<!-- Location -->
						<p class="fw-bold mb-0"><i class="bi bi-geo-alt me-2"></i>{{hotel?.location}}
						</p>
					</div>

					
				</div>
			</div>
		</div>
		<!-- TitleEND -->
	</div>
</section>
<!-- =======================
Main Title END -->

<!-- =======================
Image gallery START -->
<section class="card-grid pt-0">
	<div class="container">
		<div class="row g-2">
			<!-- Image -->
			<div class="col-md-6">
                
				<a data-glightbox data-gallery="gallery" href={{hotel?.hotelImages[0]?.imageUrl}}>
                    
					<div class="card card-grid-lg card-element-hover card-overlay-hover overflow-hidden" [style.background-image]="'url(' + hotel?.hotelImages[0].imageUrl + ')'" style="background-position: center left; background-size: cover;">
						<!-- Card hover element -->
						<div class="hover-element position-absolute w-100 h-100">
							<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
						</div>
					</div>
				</a>
			</div>

			<div class="col-md-6">
				<!-- Card item START -->
				<div class="row g-2"> 
					<!-- Image -->
					<div class="col-12">
						<a data-glightbox data-gallery="gallery" href={{hotel?.hotelImages[1]?.imageUrl}}>
							<div class="card card-grid-sm card-element-hover card-overlay-hover overflow-hidden" [style.background-image]="'url(' + hotel?.hotelImages[1]?.imageUrl + ')'" style="background-position: center left; background-size: cover;">
								<!-- Card hover element -->
								<div class="hover-element position-absolute w-100 h-100">
									<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
								</div>
							</div>
						</a>	
					</div>

					<!-- Image -->
					<div class="col-md-6">
						<a data-glightbox data-gallery="gallery" href={{hotel?.hotelImages[2]?.imageUrl}}>
							<div class="card card-grid-sm card-element-hover card-overlay-hover overflow-hidden" [style.background-image]="'url(' + hotel?.hotelImages[2]?.imageUrl + ')'" style="background-position: center left; background-size: cover;">
								<!-- Card hover element -->
								<div class="hover-element position-absolute w-100 h-100">
									<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
								</div>
							</div>
						</a>	
					</div>
                    <!-- Image -->
					<div class="col-md-6">
						<a data-glightbox data-gallery="gallery" href={{hotel?.hotelImages[3]?.imageUrl}}>
							<div class="card card-grid-sm card-element-hover card-overlay-hover overflow-hidden" [style.background-image]="'url(' + hotel?.hotelImages[3]?.imageUrl + ')'" style="background-position: center left; background-size: cover;">
								<!-- Card hover element -->
								<div class="hover-element position-absolute w-100 h-100">
									<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
								</div>
							</div>
						</a>	
					</div>

					
				</div>
				<!-- Card item END -->
			</div>
		</div>
	</div>
</section>
<!-- =======================
Image gallery END -->


<!-- =======================
About hotel START -->
<section class="pt-0">
	<div class="container" data-sticky-container>

		<div class="row g-4 g-xl-5">
			<!-- Content START -->
			<div class="col-xl-7 order-1">
				<div class="vstack gap-5">

					<!-- About hotel START -->
					<div class="card bg-transparent">
						<!-- Card header -->
						<div class="card-header border-bottom bg-transparent px-0 pt-0">
							<h3 class="mb-0">About This Hotel</h3>
						</div>

						<!-- Card body START -->
						<div class="card-body pt-4 p-0">
							<h5 class="fw-light mb-4">Main Highlights</h5>

							<!-- Highlights Icons -->
							<div class="hstack gap-3 mb-3">
								<div class="icon-lg bg-light h5 rounded-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Free wifi">
									<i class="fa-solid fa-wifi"></i>
								</div>
								<div class="icon-lg bg-light h5 rounded-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Swimming Pool">
									<i class="fa-solid fa-swimming-pool"></i>
								</div>
								<div class="icon-lg bg-light h5 rounded-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Central AC">
									<i class="fa-solid fa-snowflake"></i>
								</div>
								<div class="icon-lg bg-light h5 rounded-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Free Service">
									<i class="fa-solid fa-concierge-bell"></i>
								</div>
							</div>

							<p class="mb-3">{{hotel?.description}}</p>
							
							<div class="collapse" id="collapseContent">
								<p class="my-3">{{hotel?.description}}</p>
							</div>
							<a class="p-0 mb-4 mt-2 btn-more d-flex align-items-center collapsed" data-bs-toggle="collapse" href="#collapseContent" role="button" aria-expanded="false" aria-controls="collapseContent">
								See <span class="see-more ms-1">more</span><span class="see-less ms-1">less</span><i class="fa-solid fa-angle-down ms-2"></i>
							</a>

							<!-- List -->
							<h5 class="fw-light mb-2">Advantages</h5>
							<ul class="list-group list-group-borderless mb-0">
								<li class="list-group-item h6 fw-light d-flex mb-0"><i class="bi bi-patch-check-fill text-success me-2"></i>Every staff member wears face masks and gloves at all service times.</li>
								<li class="list-group-item h6 fw-light d-flex mb-0"><i class="bi bi-patch-check-fill text-success me-2"></i>Hotel staff ensures to maintain social distancing at all times.</li>
								<li class="list-group-item h6 fw-light d-flex mb-0"><i class="bi bi-patch-check-fill text-success me-2"></i>The hotel has In-Room Dining options available </li>
							</ul>
						</div>
						<!-- Card body END -->
					</div>
					<!-- About hotel START -->

					<!-- Amenities START -->
					<div class="card bg-transparent">
						<!-- Card header -->
						<div class="card-header border-bottom bg-transparent px-0 pt-0">
							<h3 class="card-title mb-0">Amenities</h3>
						</div>

						<!-- Card body START -->
						<div class="card-body pt-4 p-0">
							<div class="row g-4">
								<!-- Activities -->
								<div class="col-sm-6">
									<h6><i class="fa-solid fa-biking me-2"></i>Activities</h6>
									<!-- List -->
									<ul class="list-group list-group-borderless mt-2 mb-0">
										<li class="list-group-item pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Swimming pool
										</li>
										<li class="list-group-item pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Spa
										</li>
										<li class="list-group-item pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Kids' play area
										</li>
										<li class="list-group-item pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Gym
										</li>
									</ul>
								</div>
	
								<!-- Payment Method -->
								<div class="col-sm-6">
									<h6><i class="fa-solid fa-hotel me-2"></i>Facilities</h6>
									<!-- List -->
                                    
									<ul class="list-group list-group-borderless mt-2 mb-0">
										<li class="list-group-item pb-0" *ngFor="let a of hotel?.amenities.split(',').slice(0,4)">
											<i class="fa-solid fa-check-circle text-success me-2"></i>{{a}}
										</li>
									</ul>
								</div>
	
								<!-- Services -->
								<div class="col-sm-6">
									<h6><i class="fa-solid fa-concierge-bell me-2"></i>Services</h6>
									<!-- List -->
									<ul class="list-group list-group-borderless mt-2 mb-0">
										<li class="list-group-item pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Dry cleaning
										</li>
										<li class="list-group-item pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Room Service
										</li>
										<li class="list-group-item pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Special service
										</li>
										<li class="list-group-item pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Waiting Area
										</li>
										<li class="list-group-item pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Secrete smoking area
										</li>
										<li class="list-group-item pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Concierge
										</li>
										<li class="list-group-item pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Laundry facilities
										</li>
										<li class="list-group-item pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Ironing Service
										</li>
										<li class="list-group-item pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Lift
										</li>
									</ul>
								</div>
	
								<!-- Safety & Security -->
								<div class="col-sm-6">
									<h6><i class="bi bi-shield-fill-check me-2"></i>Safety & Security</h6>
									<!-- List -->
									<ul class="list-group list-group-borderless mt-2 mb-4 mb-sm-5">
										<li class="list-group-item pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Doctor on Call
										</li>
									</ul>
	
									<h6><i class="fa-solid fa-volume-up me-2"></i>Staff Language</h6>
									<!-- List -->
									<ul class="list-group list-group-borderless mt-2 mb-0">
										<li class="list-group-item pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>English
										</li>
										<li class="list-group-item pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Spanish
										</li>
										<li class="list-group-item pb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i>Hindi
										</li>
									</ul>
								</div>
	
							</div>
						</div>
						<!-- Card body END -->
					</div>
					<!-- Amenities END -->
<!-- Room START -->
<div class="card bg-transparent" id="room-options">
    <!-- Card header -->
    <div class="card-header border-bottom bg-transparent px-0 pt-0">
        <div class="d-sm-flex justify-content-sm-between align-items-center">
            <h3 class="mb-2 mb-sm-0">Room Options</h3>
        </div>
    </div>

    <!-- Card body START -->
    <div class="card-body pt-4 p-0">
        <div class="vstack gap-4">

            <!-- Room item START -->
            <div *ngFor="let room of hotel?.rooms" class="card shadow p-3">
                <div class="row g-4">
                    <!-- Card img -->
                    <div class="col-md-5 position-relative">

                        <!-- Overlay item -->
                        <div class="position-absolute top-0 start-0 z-index-1 mt-3 ms-4">
                            <div class="badge text-bg-danger">40% Off</div>
                        </div>

                        <!-- Slider START -->
                        <div class="tiny-slider arrow-round arrow-xs arrow-dark overflow-hidden rounded-2">
                            <div class="tiny-slider-inner" data-autoplay="true" data-arrow="true" data-dots="false" data-items="1">
                                <!-- Image item -->
                                <div><img src={{room.roomImages[0]?.imageUrl}} alt="Card image"></div>
                            </div>
                        </div>
                        <!-- Slider END -->
                    </div>

                    <!-- Card body -->
                    <div class="col-md-7">
                        <div class="card-body d-flex flex-column h-100 p-0">

                            <!-- Title -->
                            <h5 class="card-title"><a href="#">{{room.roomType}} Room with {{room.bedType}} BedType</a></h5>

                            <!-- Amenities -->
                            <ul class="nav nav-divider mb-2">
                                <li class="nav-item" *ngFor="let a of hotel?.amenities.split(',')">{{a}}</li>
                                <li class="nav-item">
                                    <a href="#" class="mb-0 text-primary">More+</a>
                                </li>
                            </ul>
                            <!-- List -->
                        <ul class="nav small nav-divider mb-0">
                            <li class="nav-item mb-0">
                                <i class="fa-regular fa-square me-1"></i>{{room?.roomSize}}
                            </li>
                            <li class="nav-item mb-0">
                                <i class="fa-solid fa-table-cells-large me-1"></i>City view
                            </li>
                            <li class="nav-item mb-0">
                                <i class="fa-solid fa-bed me-1"></i>{{room?.bedType}} Bed
                            </li>
                        </ul>
                        <ul class="nav small nav-divider mb-0">
                            <li class="nav-item mb-0">
                                <i class="fa-solid fa-person me-1"></i>{{room?.maxOccupancy}} persons Occupancy
                            </li>
                        </ul>

                            <p *ngIf="room.baseFare>1000; else notcancel" class="text-success mb-0" >Free Cancellation</p>
                            <ng-template #notcancel>
                                <p class="text-danger mb-3">Non Refundable</p>
                            </ng-template>
                            
                            <!-- Price and Button -->
                            <div class="d-sm-flex justify-content-sm-between align-items-center mt-auto">
                                <!-- Button -->
                                <div class="d-flex align-items-center">
                                    <h5 class="fw-bold mb-0 me-1">₹ {{room.baseFare}}</h5>
                                    <span class="mb-0 me-2">/day</span>
                                    <span class="text-decoration-line-through mb-0">₹ {{room.baseFare*1.4}}</span>
                                </div>
                                <!-- Price -->
                                <div class="mt-3 mt-sm-0">
                                    <a routerLink="/roombooking/{{room.roomId}}" class="btn btn-sm btn-primary mb-0">Select Room</a>    
                                </div>                  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Room item END -->

        </div>
    </div>
    <!-- Card body END -->
</div>
<!-- Room END -->
<form *ngIf="user?.role === 'User'" [formGroup]="reviewForm" (ngSubmit)="submitReview()">
    <!-- Rating -->
    <div class="form-control-bg-light mb-3">
      <select class="form-select js-choice" formControlName="rating">
        <option value="5">★★★★★ (5/5)</option>
        <option value="4">★★★★☆ (4/5)</option>
        <option value="3">★★★☆☆ (3/5)</option>
        <option value="2">★★☆☆☆ (2/5)</option>
        <option value="1">★☆☆☆☆ (1/5)</option>
      </select>
    </div>
    <!-- Message -->
    <div class="form-control-bg-light mb-3">
      <textarea class="form-control" formControlName="reviewMessage" placeholder="Your review" rows="3"></textarea>
    </div> 
    <!-- Button -->
    <button type="submit" class="btn btn-lg btn-primary mb-0" [disabled]="!reviewForm.valid">Post review <i class="bi fa-fw bi-arrow-right ms-2"></i></button>
  </form>
  

<!-- Customer Review START -->
<div class="card bg-transparent">
    <!-- Card header -->
    <div class="card-header border-bottom bg-transparent px-0 pt-0">
        <h3 class="card-title mb-0">Customer Review</h3>
    </div>

    <!-- Card body START -->
    <div class="card-body pt-4 p-0">
        <!-- Progress bar and rating START -->
        <div class="card bg-light p-4 mb-4">
            <div class="row g-4 align-items-center">
                <!-- Rating info -->
                <div class="col-md-4">
                    <div class="text-center">
                        <!-- Info -->
                        <h2 class="mb-0">{{avgRating}}</h2>
                        <p class="mb-2">Based on {{hotel?.reviews.length}} Reviews</p>
                        <!-- Star -->
                        <app-rating-stars [reviewCount]="avgRating" [starSize]="20"></app-rating-stars>
                       
                    </div>
                </div>

                <!-- Progress-bar START -->
                <div class="col-md-8">
                    <div class="card-body p-0">
                        <div class="row gx-3 g-2 align-items-center">
                                
                                <!-- Progress bar and Rating -->
                                <div class="col-9 col-sm-10">
                                    <!-- Progress item -->
                                    <div class="progress progress-sm bg-warning bg-opacity-15">
                                        <div class="progress-bar bg-warning" role="progressbar" [style.width.%]="percentageForEachRating[0]?.percentage" [attr.aria-valuenow]="percentageForEachRating[0]?.Percentage" aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                </div>
                                <!-- Percentage -->
                                <div class="col-3 col-sm-2 text-end">
                                    <span class="h6 fw-light mb-0">{{percentageForEachRating[0]?.percentage}}%</span>
                                </div>
                            
                            <!-- Progress bar and Rating -->
                            <div class="col-9 col-sm-10">
                                <!-- Progress item -->
                                <div class="progress progress-sm bg-warning bg-opacity-15">
                                    <div class="progress-bar bg-warning" role="progressbar" [style.width.%]="percentageForEachRating[1]?.percentage" [attr.aria-valuenow]="percentageForEachRating[1]?.Percentage" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                            </div>
                            <!-- Percentage -->
                            <div class="col-3 col-sm-2 text-end">
                                <span class="h6 fw-light mb-0">{{percentageForEachRating[1]?.percentage}}%</span>
                            </div>

                            <!-- Progress bar and Rating -->
                            <div class="col-9 col-sm-10">
                                <!-- Progress item -->
                                <div class="progress progress-sm bg-warning bg-opacity-15">
                                    <div class="progress-bar bg-warning" role="progressbar" [style.width.%]="percentageForEachRating[2]?.percentage" [attr.aria-valuenow]="percentageForEachRating[2]?.Percentage" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                            </div>
                            <!-- Percentage -->
                            <div class="col-3 col-sm-2 text-end">
                                <span class="h6 fw-light mb-0">{{percentageForEachRating[2]?.percentage}}%</span>
                            </div>

                            <!-- Progress bar and Rating -->
                            <div class="col-9 col-sm-10">
                                <!-- Progress item -->
                                <div class="progress progress-sm bg-warning bg-opacity-15">
                                    <div class="progress-bar bg-warning" role="progressbar" [style.width.%]="percentageForEachRating[3]?.percentage" [attr.aria-valuenow]="percentageForEachRating[3]?.Percentage" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                            </div>
                            <!-- Percentage -->
                            <div class="col-3 col-sm-2 text-end">
                                <span class="h6 fw-light mb-0">{{percentageForEachRating[3]?.percentage}}%</span>
                            </div>

                            <!-- Progress bar and Rating -->
                            <div class="col-9 col-sm-10">
                                <!-- Progress item -->
                                <div class="progress progress-sm bg-warning bg-opacity-15">
                                    <div class="progress-bar bg-warning" role="progressbar" [style.width.%]="percentageForEachRating[4]?.percentage" [attr.aria-valuenow]="percentageForEachRating[4]?.Percentage" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                            </div>
                            <!-- Percentage -->
                            <div class="col-3 col-sm-2 text-end">
                                <span class="h6 fw-light mb-0">{{percentageForEachRating[4]?.percentage}}%</span>
                            </div>
                          

                         </div> <!-- Row END -->
                    </div>
                </div>
                <!-- Progress-bar END -->

            </div>
        </div>
        <!-- Progress bar and rating END -->


        <!-- Review item START -->
        <div *ngFor="let review of hotel?.reviews.reverse().slice(0, reviewlength)" class="d-md-flex my-6">
            <!-- Avatar -->
            <div class="avatar avatar-lg me-3 flex-shrink-0">
                <img class="avatar-img rounded-circle" src={{review.user?.profileImage}} alt="avatar">
            </div>
            <!-- Text -->
            <div style="width: 100%;">
                <div class="d-flex justify-content-between mt-1 mt-md-0">
                    <div >
                        <h6 class="me-3 mb-0">{{review.user.firstName +" " + review.user.lastName}}</h6>
                        <!-- Info -->
                        <ul class="nav nav-divider small mb-2">
                            <li class="nav-item">Stayed 13 Nov 2023</li>
                            <li class="nav-item"></li>
                        </ul>
                    </div>
                    <!-- Review star -->
                    <div class="icon-md rounded text-bg-warning fs-6">{{review.rating}}</div>
                </div>
                
                <p class="mb-2">{{review.comments}} </p>
                
            </div>
       
        </div>
        <!-- Review item END -->

        <!-- Button -->
        <div class="text-center">
            <button (click)="MoreReviews()" class="btn btn-primary-soft mb-0" [disabled]="hotel?.reviews.length<=reviewlength">Load more</button>
        </div>
    </div>
    <!-- Card body END -->
</div>
<!-- Customer Review END -->

<!-- Hotel Policies START -->
<div class="card bg-transparent">
    <!-- Card header -->
    <div class="card-header border-bottom bg-transparent px-0 pt-0">
        <h3 class="mb-0">Hotel Policies</h3>
    </div>

    <!-- Card body START -->
    <div class="card-body pt-4 p-0">
        <!-- List -->
        <ul class="list-group list-group-borderless mb-2">
            <li class="list-group-item d-flex">
                <i class="bi bi-check-circle-fill me-2"></i>Drinking and smoking within controlled limits are permitted at the farmhouse but please do not create a mess or ruckus at the house.
            </li>
            <li class="list-group-item d-flex">
                <i class="bi bi-check-circle-fill me-2"></i>Drugs and intoxicating illegal products are banned and not to be brought to the house or consumed.
            </li>
            <li class="list-group-item d-flex">
                <i class="bi bi-x-circle-fill me-2"></i>For any update, the customer shall pay applicable cancellation/modification charges.
            </li>
        </ul>

        <!-- List -->
        <ul class="list-group list-group-borderless mb-2">
            <li class="list-group-item h6 fw-light d-flex mb-0">
                <i class="bi bi-arrow-right me-2"></i>Check-in: 1:00 pm - 9:00 pm
            </li>
            <li class="list-group-item h6 fw-light d-flex mb-0">
                <i class="bi bi-arrow-right me-2"></i>Check out: 11:00 am
            </li>
            <li class="list-group-item h6 fw-light d-flex mb-0">
                <i class="bi bi-arrow-right me-2"></i>Self-check-in with building staff
            </li>
            <li class="list-group-item h6 fw-light d-flex mb-0">
                <i class="bi bi-arrow-right me-2"></i>No pets
            </li>
            <li class="list-group-item h6 fw-light d-flex mb-0">
                <i class="bi bi-arrow-right me-2"></i>No parties or events
            </li>
            <li class="list-group-item h6 fw-light d-flex mb-0">
                <i class="bi bi-arrow-right me-2"></i>Smoking is allowed
            </li>
        </ul>

    </div>
    <!-- Card body END -->
</div>
<!-- Hotel Policies START -->
</div>	
</div>
<!-- Content END -->

<!-- Right side content START -->
<aside class="col-xl-5 order-xl-2">
<div data-sticky data-margin-top="100" data-sticky-for="1199">
<!-- Book now START -->
<div class="card card-body border">
    
    <!-- Title -->
    <div class="d-sm-flex justify-content-sm-between align-items-center mb-3">
        <div>
            <span>Price Start at</span>
            <h4 class="card-title mb-0">₹{{minPriceRoom}}</h4>
        </div>
        <div>
            <h6 class="fw-normal mb-0">1 room per night</h6>
            <small>+ taxes & fees</small>
        </div>
    </div>		

    <!-- Rating -->
    <ul class="list-inline mb-2">
        <li class="list-inline-item me-1 h6 fw-light mb-0"><i class="bi bi-arrow-right me-2"></i>{{avgRating}} Star</li>
    </ul>
    <app-rating-stars [reviewCount]="avgRating" [starSize]="20"></app-rating-stars>
    
    <p class="h6 fw-light mb-4"><i class="bi bi-arrow-right me-2"></i>Free breakfast available</p>

    <!-- Button -->
    <div class="d-grid">
        <div routerLink="." fragment="room-options" class="btn btn-lg btn-primary-soft mb-0">View {{hotel?.rooms.length}} Rooms Options</div>
    </div>
</div>
<!-- Book now END -->

</div>	
</aside>
<!-- Right side content END -->
</div> <!-- Row END -->
</div>
</section>
<!-- =======================
About hotel END -->

<!-- <div class="d-flex justify-content-center align-content-center" style="margin-top: 8rem;">
    <div *ngIf="loading" class="loader"></div>
</div> -->