.datetime-picker {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .datetime-picker:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
 
  .modal-content {
    border: 2px solid #000; /* You can adjust the border thickness and color as needed */
    border-radius: 10px; /* Optional: adds rounded corners */
  }

  