<section>
	<div class="container">
		<div class="row align-items-center ">
			<div class="col-md-10 text-center mx-auto pb-5">
				<!-- Image -->
				<img src="../../../assets/error.svg" class="h-lg-500px mb-4" alt="">
				<!-- Title -->
				<h1 class="display-1 text-primary mb-0" style="font-size: 8rem; font-weight: 900;">404</h1>
				<!-- Subtitle -->
				<h2 style="font-size: 3rem; font-weight: 900;">Oh no, something went wrong!</h2>
				<!-- info -->
				<p class="mb-4 text-secondary">Either something went wrong or this page doesn't exist anymore.</p>
				<!-- Button -->
				<a [routerLink]="'/home'" class="btn btn-light mb-0">Take me to Homepage</a>
			</div>
		</div>
	</div>
</section>