<div class="flex gap-1 text-yellow-100">
    <ng-container *ngFor="let icon of fullStars">
      <i class="bi bi-star-fill" style="color: rgba(247,195,46,1);" [style.fontSize.px]="starSize"></i>
    </ng-container>
    <ng-container *ngFor="let icon of halfStars">
      <i class="bi bi-star-half" style="color: rgba(247,195,46,1);" [style.fontSize.px]="starSize"></i>
    </ng-container>
    <ng-container *ngFor="let icon of emptyStars">
      <i class="bi bi-star" style="color: rgba(247,195,46,1);" [style.fontSize.px]="starSize"></i>
    </ng-container>
  </div>