<!-- Step 3 content START -->
<div>
    <div class="vstack gap-4">
        <!-- Title -->

        <!-- Listing price START -->
        <div class="card shadow">
            <!-- Card header -->
            <div class="card-header border-bottom">
                <h5 class="mb-0">Are you sure you want to make the hotel public now and publish on the  platform?</h5>
            </div>

            <!-- Card body START -->
            <div class="card-body">
                <div class="row g-4">
                
                    <!-- Currency -->
                    <div class="col-md-6 d-flex flex-row gap-2 align-items-center">
                        <input class="form-check-input mb-1"  type="checkbox" [value]='false' id="confirmPublishCheck">
                        <label class="form-check-label" for="confirmPublishCheck">Yes, I'd like to publish this hotel</label>
                    </div>                   
                   
                </div>
            </div>
            <!-- Card body END -->
        </div>
        <!-- Listing price END -->

    </div>
</div>
<!-- Step 3 content END -->

